.header{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    // padding: 20px;
    .logo{
        display: flex;
        align-items: center;
        width: 124px;
        img{
            width: 100%;

        }
        .help-text{
            font-size: 22px;
            padding-left: 4px;
            color: rgb(192, 2, 192);

        }
        
    }
    .action-btn{
        display: flex;
        align-items: center;
        // margin-top: 10%;
        margin-right: 1%;
        .icon-block{
            font-size: 20px;
            padding: 10px;
            color: rgb(210, 210, 210);
        }
    }
}